html, body {
    height: 100%;
}

body {
    font-family: 'Roboto';
    display: grid;
    grid-template-rows: 250px 1fr;
}

.top {

}

h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1 img {
    height: 70px;
}