html, body {
    height: 100%;
}

body {
    font-family: 'Roboto';
    display: grid;
    grid-template-rows: 250px 1fr;
}

h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1 img {
    height: 70px;
}

form {
    display: flex;
    justify-content: center;
}

form div {
    display: flex;
    flex-direction: column;
}

input {
    height: 100%;
}

select {
    font-size: 15px;
    padding: 10px;
    padding-right: 15px;
}
